$scale: (
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "6": 6,
  "7": 7,
  "8": 8,
  "9": 9,
  "10": 10,
  "15": 15,
  "20": 20,
  "25": 25,
  "30": 30,
  "35": 35,
  "40": 40,
  "45": 45,
  "50": 50,
  "55": 55,
  "60": 60,
  "65": 65,
  "70": 70,
  "75": 75,
  "80": 80,
  "85": 85,
  "90": 90,
  "95": 95,
  "100": 100
);

@each $name, $int in $scale {

  /*size (vh/vw)*/
  .vh-#{$name} {
    height: #{$int}vh
  }

  .vw-#{$name} {
    width: #{$int}vw
  }

  /* position */
  .t-#{$name} {
    top: #{$int}vh
  }

  .b-#{$name} {
    bottom: #{$int}vh
  }

  .l-#{$name} {
    left: #{$int}vw
  }

  .r-#{$name} {
    right: #{$int}vw
  }

  @media (min-width: 1200px) {
    .lg-vh-#{$name} {
      height: #{$int}vh
    }

    .lg-vw-#{$name} {
      width: #{$int}vw
    }
  }

  @media (max-width: 1199px) {
    .md-vh-#{$name} {
      height: #{$int}vh
    }

    .md-vw-#{$name} {
      width: #{$int}vw
    }
  }

  @media (max-width: 767px) {
    .sm-vh-#{$name} {
      height: #{$int}vh
    }

    .sm-vw-#{$name} {
      width: #{$int}vw
    }
  }
}
